.footer__copyright {
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  text-align: right;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    display: inline-block;
    margin-top: 48px;
  }
}