 .footer__list-link {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-width: 465px;
  justify-content: space-between;
  }

@media screen and (max-width: 767px) {
  .footer__list-link {
    display: block;
    max-width: 186px;
    }
  }