.place__url{
   margin: 0 0 12px 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #aaaaaa;
  }
  
  @media (max-width: 1023px){
      .place__url{
          line-height: 1;
      }
  }